// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #00FF00; /* Verde neón */
    --ion-color-secondary: #FF00FF; /* Rosa neón */
    --ion-color-tertiary: #FF4500; /* Naranja brillante */
    --ion-color-dark: #0F0F0F; /* Fondo oscuro */
    --ion-color-medium: #1A1A1A; /* Fondo gris oscuro */
    --ion-color-light: #FFFFFF; /* Blanco */
  }
  