/// Importamos la fuente "VT323"
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --ion-font-family: 'VT323', monospace;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-gris-oscuro);
  font-family: var(--ion-font-family);
  text-align: center;
}

.splash-container {
  color: var(--ion-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 180px;
  height: 180px;
  animation: fadeInDown 1s ease-in-out;
}

.tagline {
  font-size: 20px;
  margin-top: 20px;
  animation: fadeInUp 1s ease-in-out 1s;
}

